@media (max-width:320px){
/*    .btn_form{
     width: 70px !important;
     font-size:10px;
    }
    .btn-width {
         width: 150px !important;
         font-size:10px;
    }*/
    .btn_form{
     width: 60px !important;
     font-size:0.8em;
     padding:6px 5px;
    }
    .btn-width {
         width: 122px !important;
        font-size: 0.8em;
        padding: 6px 6px;
    }
    
    
    .welcomeHeader{
        font-size: 0.8em;
    }
    
    .logoImage{
        width: 100%;
    }
    
    .logout{
        visibility: hidden;
    }
    
    #menu .main-menu {
        display: none;
    }
    #toggle-menu, #menu label.drop-icon
    {
        display: block;
    }
    .responsivePaddingNone
    {
        padding:0px !important;
    }
    .tableScroll
    {
        overflow-x: auto;
    }
    #menu li a:focus-within{
    color:#000 !important ;
    }
    
    .change-password{
        font-size:18px !important;
    }
    
    
    
}
@media (min-width:321px) and (max-width:361px)
{
     .welcomeHeader{
        font-size: 0.8em;
    }
    
    .logoImage{
        width: 100%;
    }
    
    .logout{
        visibility: hidden;
    }
    
    #menu .main-menu {
        display: none;
    }
    #toggle-menu, #menu label.drop-icon
    {
        display: block;
    }
    .responsivePaddingNone
    {
        padding:0px !important;
    }
    .tableScroll
    {
        overflow-x: auto;
    }
    #menu li a:focus-within{
    color:#000 !important ;
}
/*    .btn_form{
     width: 90px !important;
     font-size:12px;
    }
    .btn-width {
         width: 173px !important;
         font-size:12px;
    }*/

   .btn_form{
     width: 70px !important;
     font-size:0.8em;
     padding:8px 10px;
    }
    .btn-width {
         width: 140px !important;
         font-size:0.8em;
         padding:8px 10px;
    }
    
     .Stk_btn_Button {
        width: 100% !important;
        margin-bottom: 15px !important;
        font-size: 0.8em !important;
        border-radius: 18px !important;
        background: #bf9682 !important;
        padding: 10px 3px !important;
    }
    
    .change-password{
        font-size:18px !important;
    }
    
    
}
@media (min-width:361px) and (max-width:375px)
{
     .welcomeHeader{
        font-size: 0.8em;
    }
    
    .logoImage{
        width: 100%;
    }
    
    .logout{
        visibility: hidden;
    }
    
    #menu .main-menu {
        display: none;
    }
    #toggle-menu, #menu label.drop-icon
    {
        display: block;
    }
    .responsivePaddingNone
    {
        padding:0px !important;
    }
    .tableScroll
    {
        overflow-x: auto;
    }
    
    #menu li a:focus-within{
    color:#000 !important ;
    
}
/*.btn_form{
     width: 90px !important;
     font-size:12px;
    }
    .btn-width {
         width: 173px !important;
         font-size:12px;
    }*/

   .btn_form{
     width: 90px !important;
     font-size:0.9em;
    }
    .btn-width {
         width: 155px !important;
         font-size:0.9em;
    }
    .change-password{
        font-size:18px !important;
    }
}
@media(min-width:376px) and (max-width:384px)
{
    .welcomeHeader{
        font-size: 0.8em;
    }
    
    .logoImage{
        width: 100%;
    }
    
    .logout{
        visibility: hidden;
    }
    
    #menu .main-menu {
        display: none;
    }
    #toggle-menu, #menu label.drop-icon
    {
        display: block;
    }
    .responsivePaddingNone
    {
        padding:0px !important;
    }
    .tableScroll
    {
        overflow-x: auto;
    }
    #menu li a:focus-within{
    color:#000 !important ;
}
/*.btn_form{
 width: 90px !important;
 font-size:12px;
}
.btn-width {
     width: 173px !important;
     font-size:12px;
}*/
.btn_form{
     width: 90px !important;
     font-size:0.9em;
    }
    .btn-width {
         width: 155px !important;
         font-size:0.9em;
    }
}
@media(min-width:385px) and (max-width:412px)
{
   .welcomeHeader{
        font-size: 0.8em;
    }
    
    .logoImage{
        width: 100%;
    }
    
    .logout{
        visibility: hidden;
    }
    
    #menu .main-menu {
        display: none;
    }
    .responsivePaddingNone
    {
        padding:0px !important;
    }
    .tableScroll
    {
        overflow-x: auto;
    }
    #menu li a:focus-within{
    color:#000 !important ;
}
.btn_form{
     width: 90px !important;
     font-size:12px;
    }
    .btn-width {
         width: 173px !important;
         font-size:12px;
    }
}
@media(min-width:413px) and (max-width:460px)
{
    .logout{
        visibility: hidden;
    }
    .welcomeHeader{ 
         font-size: 0.8em;
    }
    
     .logoImage {
             height: 28px;
    }
    
    #menu .main-menu {
        display: none;
    }
    #toggle-menu, #menu label.drop-icon
    {
        display: block;
    }
    .responsivePaddingNone
    {
        padding:0px !important;
    }
    .tableScroll
    {
        overflow-x: auto;
    }
    #menu li a:focus-within{
    color:#000 !important ;
}
.btn_form{
     width: 90px !important;
     font-size:12px;
    }
    .btn-width {
         width: 173px !important;
         font-size:12px;
    }
}
@media(min-width:461px) and (max-width:600px)
{
    .welcomeHeader{ 
         font-size: 0.9em;
    }
    
     .logout{
        visibility: hidden;
    }
    
    .logoImage {
             height: 28px;
    }
    #menu .main-menu {
        display: none;
    }
    .responsivePaddingNone
    {
        padding:0px !important;
    }
    .tableScroll
    {
        overflow-x: auto;
    }
    #menu li a:focus-within{
    color:#000 !important ;
}
}
@media(min-width:601px) and (max-width:640px)
{
    //.welcomeHeader{ visibility:  hidden}
    #menu .main-menu {
        display: none;
    }
    #toggle-menu, #menu label.drop-icon
    {
        display: block;
    }
    .responsivePaddingNone
    {
        padding:0px !important;
    }
    .tableScroll
    {
        overflow-x: auto;
    }
}
@media(min-width:641px) and (max-width:767px)
{
    //.welcomeHeader{ visibility:  hidden}
    #menu .main-menu {
        display: none;
    }
    #toggle-menu, #menu label.drop-icon
    {
        display: block;
    }
    .responsivePaddingNone
    {
        padding:0px !important;
    }
    .tableScroll
    {
        overflow-x: auto;
    }
}
@media(min-width:768px) and (max-width:800px)
{
    #menu .main-menu {
        display: none;
    }
    .responsivePaddingNone
    {
        padding:0px !important;
    }
    .tableScroll
    {
        overflow-x: auto;
    }
}
@media(min-width:801px) and (max-width:991px)
{
    #menu .main-menu {
        display: none;
    }
    #toggle-menu, #menu label.drop-icon
    {
        display: block;
    }
    .responsivePaddingNone
    {
        padding:0px !important;
    }
    .tableScroll
    {
        overflow-x: auto;
    }
}
@media(min-width:992px) and (max-width:1280px)/*Dekstop*/
{
    #menu .main-menu {
        display: block;
    }
    #toggle-menu, #menu label.drop-icon
    {
        display: none;
    }
    .main-menu
    {
        background-image: linear-gradient(#6f22a9, #2f0052);
        width: 786px;
        margin:0 auto !important;
    }
}
@media(min-width:1281px) and (max-width:1440px)/*Dekstop*/
{
    #menu .main-menu {
        display: block;
    }
    #toggle-menu, #menu label.drop-icon
    {
        display: none;
    }
    .main-menu
    {
        background-image: linear-gradient(#6f22a9, #2f0052);
        width: 790px;
        margin:0 auto !important;
    }
}
@media(min-width:1441px) and (max-width:1600px)/*Dekstop*/
{
    #menu .main-menu {
        display: block;
    }
    #toggle-menu, #menu label.drop-icon
    {
        display: none;
    }
    .main-menu
    {
        background-image: linear-gradient(#6f22a9, #2f0052);
        width: 780px;
        margin:0 auto !important;
    }
}

