/*Common Class for Application Start*/
html
{  
}
body
{
    font-family: 'Montserrat';
    font-size: 12px !important;
    background-color:#f7f7f7;
}
.paddingNone
{
    padding:0px !important;
}
.padding_LeftNone
{
    padding-left: 0px !important;
}
.padding_TopNone
{
    padding-top: 0px !important;
}
.padding_BottomNone
{
    padding-bottom: 0px !important;
}
.padding_RightNone
{
    padding-right: 0px !important;
}
.padding_TopBottomNone
{
    padding-top: 0px !important;
    padding-bottom:  0px !important;
}
.padding_RightLeftNone
{
    padding-left: 0px !important;
    padding-right:  0px !important;
}
.centerAlign
{
    text-align: center !important;

}

/*Common Class for Application End*/

.logoImage
{

}
.headerStripe
{
    background-color: #d22364;
    display: flex;
    align-items: center;
    padding: 5px 0px;
    color: #fff;
    border-bottom: 3px solid #580b92;
}
.headerText
{
    font-size: 24px;
}
.header_Username
{
    text-decoration: none;
    font-weight:bold;
}
.header_Welcome
{
    font-style: normal;
}
.anchor_link_dark
{
    cursor: pointer;
    color: #fff !important;
}
.anchor_link_dark:hover
{
    color:#521281 !important;
}
.anchor_link_dark:active
{
    color:#521281 !important;
}
.anchor_link_light
{
    cursor: pointer;
    color: #fff !important;
}
.anchor_link_light
{
    cursor: pointer;
    color: #fff !important;
}
.anchor_link_light:active
{
    cursor: pointer;
    color: #000 !important;
}
.anchor_link_light:hover
{
    cursor: pointer;
    color: #000 !important;
}
.anchor_link_light:visited
{
    cursor: pointer;
    color: #fff;
}
.menu_Box
{
    padding:10px;
    text-align: center;
    border:1px solid #000;
    cursor: pointer;
}
.menu_Box_middle
{
    padding: 10px;
    text-align: center;
    border-right: 1px solid #868686;
    cursor: pointer;
}
.menu_Box_middle:hover
{
    background-color: #f7f7f7 !important;
    color: #000 !important;
}
.menu_Box_middle:hover
{
    background-color: #f7f7f7 !important;
    color: #000 !important;
}
.menu_Box_middle:hover
{
    background-color: #f7f7f7 !important;
    color: #000 !important;
}

.menu_Box_middle:hover .anchor_link_light
{
    color: #000 !important;
}
.menu_Box_middle:hover .anchor_link_light
{
    color: #000 !important;
}
.menu_Box_middle:hover .anchor_link_light
{
    color: #000 !important;
}

#menu li a:focus-within{
    color:#fff !important ;
}


.footer
{
    position: fixed !important;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #42454a;
    color: #fff;
    padding: 5px 0px;
    z-index: 10;
}
.menuText
{
    line-height: 20px;
    font-size: 11px;
}
.menuIcon
{
    font-size: 18px; 
}
.divHeight50
{
    height: 50px !important; 
}
.dd_select
{
    width: 100%;
}
.txt_TextBox
{
    width: 100%;
}
.btn_Button
{
    width: 80%;
    color: #fff;
    background: #d22364;
}
.btn:hover
{
    color: #fff !important;
    background: #000 !important;

}
.btn:active
{
    color: #fff !important;
    background: #000 !important;

}
.btn:visited
{
    color: #fff !important;
    background: #000 !important;

}

.filterBox
{
    padding: 15px 0px !important;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #eaeaea;
}
.form_View
{
    height: 100% !important;
/*    min-height: 100% !important;*/
    overflow-y: auto;
    padding: 15px 0px 50px 10px;
    background: #eaeaea;
}
.logoutIcon
{
    font-size: 15px;

}

.rupe{
    font-size: 13px;

}

.errorMessage
{
    color: #E13300;

}


table{
    border-collapse: collapse;
}
table th,table td{
    padding: 3px;
}

table th:hover{
    cursor: pointer;
}

.arrow-down:after,.arrow-up:after{
    content: ' ';
    position: relative;
    left: 2px;
    border: 8px solid transparent;
}

.arrow-down:after{
    top: 10px;
    border-top-color: black;
}

.arrow-up:after{
    bottom: 15px;
    border-bottom-color: black;
}

.arrow-down,.arrow-up{
    padding-right: 10px;
}
.menu_Stripe
{
    background-image: linear-gradient(#6f22a9, #2f0052);
}
.lbl_Label
{
    color: #4e4b4b;
    font-weight: normal;
}
.listView
{
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #eaeaea;
    padding: 10px 0px;
}
.menuIcon
{
    font-size: 30px;
}
.formHeaderTitle
{
    text-transform: uppercase;
    color: #000;
    font-size: 23px;
}
.table
{
    font-size: 12px;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.navbar
{
    border-radius: 0px !important;
    min-height: 0px !important;
    border: none !important;
}
.pagination > li > a, .pagination > li > span
{
    color: #000 !important;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover
{
    background-color: #d22364 !important;
    border:1px solid #d22364 !important;
    color: #fff !important;
}
.fixedHeader
{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 10;
}
.headerContent
{
    padding-top: 100px;
}
.selectedMenu
{
    background-color: #f7f7f7 !important;
    color: #000 !important;
}


#menu ul {
    margin: 0;
    padding: 0;
}

#menu .main-menu {
    display: none;
}

#tm:checked + .main-menu {
    display: block;
}

#menu input[type="checkbox"], 
#menu ul span.drop-icon {
    display: none;
}




#menu .sub-menu {
    background-color: #f9f9f9;
    border-width: 1px 1px 0;
    //margin: 0 1em;
    margin: 0em;
}

#menu .sub-menu li a{
    color: #000 !important;
}

#menu .sub-menu li:last-child {
    border-width: 0;

}

#menu li, 
#toggle-menu, 
#menu a {
    position: relative;
    display: block;
    color: white;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .125);
}

#menu, 
#toggle-menu {
    background-image: linear-gradient(#6f22a9, #2f0052);   
}

#toggle-menu, 
#menu a {
    padding: 1em 1.5em;
}

#menu a {
    transition: all .125s ease-in-out;
    -webkit-transition: all .125s ease-in-out;
}

#menu a:hover {
    background-color: white;
    color: #09c;
    text-decoration: none !important;
}

#menu .sub-menu {
    display: none;
}

#menu input[type="checkbox"]:checked + .sub-menu {
    display: block;
   
}

#sm1:checked + .sub-menu {
    display: block;
    
}


#menu .sub-menu a:hover {
    color: #444;
}

#toggle-menu .drop-icon, 
#menu li label.drop-icon {
    position: absolute;
    right: 1.5em;
    top: 1.25em;
}

#menu label.drop-icon, #toggle-menu span.drop-icon {
    border-radius: 50%;
    width: 1em;
    height: 1em;
    text-align: center;
    background-color: rgba(0, 0, 0, .125);
    text-shadow: 0 0 0 transparent;
    color: rgba(255, 255, 255, .75);
}

#menu .drop-icon {
    line-height: 1;
}

 

@media only screen and (max-width: 64em) and (min-width: 52.01em) {
    #menu li {
        width: 33.333%;
    }

    #menu .sub-menu li {
        width: auto;
    }
    
}

@media only screen and (min-width: 52em) {

    #toggle-menu, 
    #menu label.drop-icon {
        display: none;
    }

    #menu ul span.drop-icon {
        display: inline-block;
    }

    #menu li {
        float: left;
        border-width: 0 1px 0 0;
    }

    #menu .sub-menu li {
        float: none;
    }

    #menu .sub-menu {
        border-width: 0;
        margin: 0;
        position: absolute;
        top: 100%;
        left: 0;
        width: 12em;
        z-index: 3000;
    }

    #menu .sub-menu, 
    #menu input[type="checkbox"]:checked + .sub-menu {
        display: none;
    }

    #menu .sub-menu li {
        border-width: 0 0 1px;
    }

    #menu .sub-menu .sub-menu {
        top: 0;
        left: 100%;
    }

    #menu li:hover > input[type="checkbox"] + .sub-menu {
        display: block;
    }
   
    /*#Admin > .sub-menu > li:hover{
        background:red;
    }*/
    
    #menu  ul > li:hover > a {
         color: #000 !important;
         background:#fff !important;
    } 
    
   
}

.action_btn
{
    font-size: 12px !important;
    width: 100% !important;
    padding : 3px !important;
}
.btn.focus, .btn:focus, .btn:hover
{
    color: #fff !important;
}
.loginHeader
{
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.25em;
}
.LoginBg:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -999;
    opacity: 0.4;
    background-image: url(../images/LoginBg_img.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.LoginBg {
    background: #8f809a;
}

.InnerPageBg:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/bg_white.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.small_txt_TextBox{
    width: 70px !important;
}
.anchor{
    text-deocration:none;
}
 
.small_dropdown{
    width: 95px !important;
}

.btn_form
{
    width: 120px;
    margin-bottom: 16px !important;
    
}

.btn-width{
    width:200px !important;
}
.btn_Cancel
{
    background-color: #b9b7b8 !important;
}

.small_dropdowns{
    margin-left:-17px;
    width: 105px !important;
}

.form-bottom{
    margin-bottom:9px !important;
}

.form-top{
    margin-top:-7px !important;
}
.btn-small{
    background:#e8588e !important;
    font-size: 9px !important;
}

/* input text to uppercase*/
.text-upper{
    text-transform: uppercase !important;
}

.caret-down{
    float:right !important;
    font-size:15px;
}
.filter-group
{
    margin-bottom:5px;
}

/*UI Grid */
/*.myGrid {
height: 200px;
}*/

.grid {
  height: 15% !important;
/*  width:83.5%;*/
 max-width:85%;
/*  width:auto;*/
}

.ui-grid {
  height: auto;
   .ui-grid-viewport {
     height: 100% !important;
         overflow-anchor: none !important;
   }
 }
 
 .ui-grid-menu-button .ui-grid-menu .ui-grid-menu.mid{
     height:300px !important;
     overflow:auto !important
 }
 
 .ui-grid-menu-button .ui-grid-menu .ui-grid-menu-mid {
   overflow:auto !important;
}



/* calender design */
.md-datepicker{ input{ pointer-events:none !important;  } }

.md-datepicker-triangle-button {
  
    transform: translate(45%,-45%) !important;
}
.blue { color: blue;  }

.Approvalmargin{
    margin-bottom:20px !important;
}



/* .grid {
  height: 10% !important;
  width:85%;
  //width:900
}
.ui-grid {
  height: auto;
  //width:auto;
   .ui-grid-viewport {
     height: 100% !important;
   }
 }
 
 .ui-grid-menu.mid{
     height:400px !important;
 }*/
 //footer
 
 .ui-grid-grid-footer{
          background: #dad7d7 !important;
 }
 .anchor_link_
{
    cursor: pointer;
    color: #fff !important;
    text-decoration:none !important;
}
.anchor_link_:active
{
    cursor: pointer;
    text-decoration:none !important;
    color: #000 !important;
}
.anchor_link_:hover
{
    cursor: pointer;
    color: #000 !important;
}
.anchor_link_:visited
{
    text-decoration:none !important;
    cursor: pointer;
    color: #fff !important;
}

 
/* Stock transfer tables button css */

@media only screen and (min-width: 52em) {

    
    .Stk_btn_Button
    {
        margin-bottom:20px !important;
        font-size: 1.0em !important;
        border-radius: 20px !important;
        background: #bf9682 !important;
    }
    
}
@media only screen and (max-width: 52em) {

    .Stk_btn_Button {
        width: 100% !important;
        margin-bottom: 15px !important;
        font-size: 0.8em !important;
        border-radius: 20px !important;
        background: #bf9682 !important;
        padding: 10px 13px !important;
    }
}

    
    .Stk_btn_Button:hover{
        background:#d22364 !important;
    }

    h3{
        font-size: 1em;
    }
   
 select{
        cursor:pointer !important;
    }

select:disabled {
    background-color: rgb(235, 235, 228) !important;
    color: rgb(84,84,84) !important;
}

input:disabled {
    background-color: rgb(196, 196, 188) !important;
    color: rgb(84,84,84)!important;
}
.btn:focus {
    outline:none !important;
}
.additional-filters{
    text-decoration: none !important;
    color: #000 !important;
}

.rightAlign {
    text-align:right;
}
.align{
     text-align:right !important;
}
.right-btn{
    float:right !important;
    color:rgba(53, 175, 79, 0.87) !important;
}

.margin-filter{
    margin-bottom: 0px !important; 
}
.excel-icon{
    font-size:25px;
    cursor: pointer;
}
.refresh-icon{
     font-size:15px;
     cursor: pointer;
}

.md-datepicker-invalid, .md-warn .md-default-theme .md-datepicker-input-container.md-datepicker-focused, .md-warn .md-datepicker-input-container.md-datepicker-focused {
    border-bottom-color: rgba(0,0,0,0.12) !important;
}

.modal-footer {
    text-align: right !important;
}

.additional-margin{
    margin-bottom:5px;
}
.accordian-btn-color{
    background:#d22364 !important;
    border-color:  #d22364 !important;
}

.accordian-btn-color:active{
    border-color: #000 !important;
}
.accordian-btn-color:focus-within{
    border-color: #000 !important;
}

.md-datepicker-input {
    cursor: pointer !important;
}

// styling file

/*.btn-file {
    position: relative;
    //overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: inherit;
    display: block;
}*/

/*.dropdown-menu{
  max-height: 150px !important;
  overflow-y: auto !important;
}

input::-webkit-calendar-picker-indicator {
              opacity: 100;
           }*/

.select2-selection__rendered {
line-height: 35px !important;
}

.select2-selection {
height: 34px !important;
font-size: 1.1em !important;
}

.chart-container {
        position: relative;
        margin: auto;
        height: 100vh;
        width: 80vw;
        }
        
 .captcha{
            margin-bottom: 0px;
            margin-right:5px;
            width: 150px; 
            height: 40px; 
            font-size:20px;
            font-weight: bolder; 
            text-decoration: line-through; 
            display: inline-block; 
            background-color: #f2f2f2;
            text-align:center;
            padding:10px;
        }
        
    .ui-grid-footer-info {
    padding: 20px 10px 70px 10px!important;
/*    background: red !important;*/
}

